.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  font-size: 24px;
  color: white;
  display: flex;
  cursor: pointer;
  justify-content:space-evenly;
  align-items: center;
  
}
.App-header a {
  color: white;
  text-decoration: none; /* Remove underline */
}

.App-header a:hover {
  text-decoration: none; /* Add underline on hover */
}
.movies-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.watch-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}
.movie-card {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 16px;
  width: 250px;
  margin: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.movie-poster {
  width: 220px;
  height: 300px;
  object-fit: fill;
}

.btnWatchlist {
  width: 150px;
  background-color: #df2508;
  color: #fff;
  border-radius: 5px;
}

.btnToggleWatchlist {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
